/* Space out content a bit */
 body {
    margin: 0;
    padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */
 .header {
    background-color: white;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
/* Feed content */
 .content {
    background-color: #ECF0F1;
    padding-top: 10px;
}
.article.headers {
    color: blue;
    text-transform: uppercase;
}
.article {
    background-color: white;
    margin: 10px;
    padding: 10px;
}
.article a {
    display: block;
    text-decoration: none;
    color: #444;
}
.article a:visited {
    color: #ccc;
}
.article:not(:first-child) {
    cursor: pointer;
    color: #444;
}
.article:not(:first-child):hover {
    background-color: #FBFCFC;
}
.title {
    display: block;
}
.published {
    font-size: 10px;
    display: block;
}
/* Custom page footer */
 .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
