<div class="pure-g content">

    <div class="feeds pure-u-1-{{feeds.length + 1}}" ng-repeat='feed in feeds'>

        <div class="article headers">{{ feed.title }}</div>
        <div class="article" ng-repeat='entry in feed.entries'>
            <div class="title"> {{ entry.title }} </div>
            <div class="published"> {{ entry.publishedDate | checkmark }} </div>
        </div>
    </div>
    <!--end feeds-->

    <div class="default-item pure-u-1-{{feeds.length + 1}}"></div>
    <!--add new feed item-->

</div>
